@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground); 
}

.navbar-fixed{
  position : fixed;
  backdrop-filter: blur(60px);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.3);
}

.leaflet-popup-content-wrapper {
  background-color: #6a58f3 !important;  /* custom background */
  color: white;              /* text color */
  border-radius: 8px;
  padding: 10px;
}

.leaflet-container {
  font-family: 'Poppins', sans-serif !important;
  z-index: 1 !important;
}

.hamburger-line {
  @apply h-[2px] my-2 block bg-black opacity-50 rounded;
}

.nav-menu{
  @apply lg:mr-14 mr-4 mb-8 lg:mb-0 duration-500 ;
}

.navbar-icon{
  @apply w-9 h-9 mr-4 group-hover:-translate-y-2 shadow-lg duration-300 ease-out;
}

.footer-icon{
  @apply flex justify-center items-center mt-4 p-8 bg-black text-white w-36 h-16 hover:shadow-2xl hover:-translate-y-1 rounded cursor-pointer;
}

.footer-navbar{
  @apply mt-2 duration-300 ease-out;
}

.product-list{
  @apply p-4 mr-4 my-2 border border-gray-200 shadow-lg transition-all duration-700 font-semibold cursor-pointer;
}

.page-title{
  @apply ml-10 text-purpleLn text-lg font-semibold;
}

.page-title-loading{
  @apply ml-10 w-[64px] h-[28px] bg-slate-300 animate-pulse duration-700 ease-out;
}

.page-title-line{
  @apply w-[50px] h-[3px] rounded block bg-purpleLn/70;
}

.page-title-line-loading{
  @apply w-[50px] h-[3px] bg-slate-300 animate-pulse duration-700 ease-out;
}

.about-heading{
  @apply text-3xl sm:text-4xl mt-10 max-w-lg sm:max-w-2xl md:max-w-4xl lg:max-w-5xl 2xl:max-w-7xl;
}

.about-heading-loading{
  @apply bg-slate-300 animate-pulse ease-out duration-700 mt-10 max-w-lg sm:max-w-2xl md:max-w-4xl lg:max-w-5xl 2xl:max-w-7xl h-[108px] sm:h-[80px] lg:h-[40px];
}

.about-paragraph{
  @apply mt-10 md:text-lg max-w-lg sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl;
}

.about-paragraph-loading{
  @apply bg-slate-300 animate-pulse ease-out duration-700 mt-10 max-w-lg sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl h-[120px];
}

.about-picture{
  @apply w-[180px] h-[300px] sm:w-[382px] md:w-[500px] md:h-[400px] lg:w-[682px] lg:h-[500px] xl:w-[800px] xl:h-[600px] 2xl:w-[900px] 2xl:h-[700px] object-cover;
}

.about-picture-loading{
  @apply w-[180px] h-[300px] sm:w-[382px] md:w-[500px] md:h-[400px] lg:w-[682px] lg:h-[500px] xl:w-[800px] xl:h-[600px] 2xl:w-[900px] 2xl:h-[700px] bg-slate-300 duration-700 ease-out transition-all animate-pulse;
}
